- @title = "#{ @public_task.name }"
- thread = @public_task
- thread_class = thread.class.name.underscore
- comments = thread.comments

.thread
  -# Title of the element
  .comment.comment_header
    %span.time= posted_date(comments.first ? comments.first.created_at : thread.created_at)
    .info
      - icon = { "Conversation" => "comment", "Task" => "tick" }[thread.class.to_s]
      %img{ :src => "/famfamfam/#{icon}.png", :style => 'padding: 4px' }
    .block
      %p.thread_title= t(".task_on_task_list_html",
          :task => link_to(thread, [thread.project, thread]),
          :task_list => link_to(thread.task_list, [thread.task_list.project, thread.task_list]))
      %p= link_to thread.project, thread.project
    .clear

.comments
  = render 'activities/thread_comments', comments: comments, thread: thread
